body {
    background-image: url("./1.jpg");

}
/* esto solo es parte de como quiero que se vea , nada del otro mundo */
.titulo {
    text-align: center;
    margin-top: 25px;
    color: white;

}
.form{
    margin: auto;
      max-width:400px;
      text-align: center 
}
  /* para que el cursor cambie , se ponga como una manito */
input[type='submit'], button, [aria-label]{
    cursor: pointer;
}
 
#caja-editable{
     /* quita lo que pusimos en el html- mas bien lo oculta. */
    display: none;
    
    max-width: 80%;
    margin: auto;
    margin-top: 10px;

}

.to-do{

    background: transparent !important;
    color: white;

}

     /* este esta en el java */
td {
    background-color:none;
    padding-right: 10px;
    text-align: left;
    color: white;
    

}
td button {
   
    text-decoration: none;
    padding: 2px;
    font-weight: auto;
    font-size: auto;
    color: #ffffff;
    background-color: rgb(254,112,152);
    border-radius: 6px;
    border: 2px solid black;
}
.btn {
    
    text-decoration: none;
    padding: 2px;
    font-weight: auto;
    font-size: auto;
    color: #ffffff;
    background-color: rgb(254,112,152);
    border-radius: 6px;
    border: 2px solid black;
}
